@media screen and (max-width: 576px) {
  header .navbar {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    .navbar-brand img {
      width: 100%;
    }
  }

  body {
    padding-top: 57px;
  }
  // .container {
  //   padding-left: 20px!important;
  //   padding-right: 20px!important;
  // }
  .color-yellow {
    transition: background-size 0.6s ease-out;
    background: linear-gradient(#ffd01b, #ffd01b) no-repeat left 130%/0 40%;
    background-size: 97% 40%;

    &:before {
      display: none;
    }
  }

  .mobile_none {
    display: none!important;
  }

  .desktop_none {
    display: block!important;
  }

  .user_setail {
    .user_img {
      width: 40px;
      height: 40px;
    }

    .user_detail_text {
      padding-left: 16px;

      h4 {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 2px;
      }

      h5 {
        font-size: 12px;
        line-height: 161.5%;
      }
    }

    .user_date {
      p {
        font-size: 12px;
        line-height: 161.5%;
      }
    }
  }

  .menulink {
    width: 306px;

    .menulink__content {
      padding: 54px 39px;
    }

    &__list-item {
      font-size: 18px;
      line-height: 22px;

      .dropdown_link {
        font-size: 18px;
        line-height: 22px;
      }

      .fa-sort-up {
        top: 1px;
        width: 26px;
        height: 21px;
        text-align: center;
        padding: 6px;
      }
    }

    &__list-item1 {
      .menulink__list-item {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  footer {
    padding: 50px 0 20px;

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    .social_icon {
      margin-top: 41px;
      text-align: center;
    }

    .colab_sec {
      padding-top: 26px;
    }

    img {
      margin-top: 24px;
    }

    .desktop_none {
      padding-top: 25px;
    }

    h5 {
      margin-bottom: 13px;
    }

    li {
      padding-bottom: 9px;
    }
  }

  header .navbar .navbar-brand {
    padding-top: 0;
  }

  .gry_text {
    font-size: 12px;
    line-height: 14px;
  }

  .underline_link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .button_container {
    top: 10px;
  }

  .section1 {
    padding: 75px 20px 0;

    .home_banner {
      padding: 0;
    }

    h2 {
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;

      span:after {
        content: '';
        position: absolute;
        height: 6px;
        width: 100%;
        bottom: 8px;
        right: 0;
        left: 0;
        background: #F9CE41;
        z-index: -1;
      }

      br {
        display: none;
      }
    }

    h3 {
      font-weight: 500;
      font-size: 16px;
      line-height: 150.52%;

      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 150.52%;
      }
    }

    .songstruck {
      display: none;
    }

    .play_button {
      display: block;
      margin: 38px auto;
      width: 184px;
    }

    .slider_top {
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      margin-top: 14px;

      &:before {
        content: '';
        background: linear-gradient(360deg , #FFFFFF 16.18%, rgba(255, 255, 255, 0) 93.79%);
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 316px;
        opacity: 0.9;
        z-index: 9;
      }

      ul.first,
      ul.second {
        padding-top: 0;
        width: calc(50% - 10px);

        li img {
          width: 100%;
          height: auto;
        }
      }

      ul.first {
        margin-right: 20px;
        padding: 55px 0 0;
      }

      ul {
        display: inline-block;
        width: 50%;
        float: left;
      }
    }
  }

  .section2 {
    padding: 0;

    .text_sec {
      width: 100%;
      padding: 25px 20px 39px;
      display: block;
      float: inherit;
      border-radius: 0;

      .btn {
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #101010;
        width: 151px;
        margin: 0 auto;
        display: block;
      }

      img {
        width: 168.89px;
        margin: 0 auto;
      }

      h2 {
        padding: 24px 0;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;

        br {
          display: none;
        }
      }

      p {
        font-family: Fira Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 180%;
        color: #FFFFFF;

        br {
          display: none;
        }
      }
    }

    .video_play {
      width: 100%;
      height: 302.59px;
      display: block;
      float: inherit;
      border-radius: 0;

      button {
        width: 70px;
      }
    }
  }

  .section2_2 {
    padding: 48px 20px 0;

    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 0;
    }

    img {
      margin-bottom: 17px;
    }

    ul {
      padding: 20px 0 2px;
      overflow-x: auto;
      white-space: nowrap;
      margin-bottom: 12px;

      li {
        padding: 0 21px;
        float: inherit;
        width: auto;
      }
    }
  }

  .section3 {
    padding: 0 15px;

    .col-sm-7 {
      padding: 0 20px;
    }

    .ishan_img {
      width: 159.26px;
      float: inherit;
      margin: 29px auto 20px;
    }

    .gry_text {
      width: 85px;
      margin: 7px auto 23px;
      display: block;
    }

    .pading_mobile {
      padding: 0 50px;

      .col-sm-2 {
        margin-bottom: 36px;
      }
    }

    .card .card-body {
      h5 {
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
      }

      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
      }
    }

    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-align: center;

      br {
        display: none;
      }
    }

    p {
      font-size: 16px;
      line-height: 180%;
    }

    .pading_mobile {
      padding: 0 26px;
    }
  }

  .section3_2 {
    padding: 36px 0 9px;
    margin: 15px;
    border-radius: 8px;

    #ex1-tabs-1 .item .testi_text p:first-child,
    #ex1-tabs-2 .item .testi_text p:first-child,
    #ex1-tabs-3 .item .testi_text p:first-child {
      min-height: auto;
    }

    h2 {
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      margin-bottom: 36px;
    }

    .nav .nav-item a {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      padding: 9px 7px 11px;
    }

    .item {
      width: 100%;
      margin: 8px 0;
      padding: 61px 29px 25px;
      min-height: auto;

      &:after {
        content: '';
        width: 54px;
        height: 51px;
        top: 24px;
        left: 18px;
        background-size: 100%;
      }

      .testi_text {
        p {
          font-weight: 500;
          font-size: 10.83019px;
          line-height: 160%;
        }

        h4 {
          font-weight: 600;
          font-size: 11.72642px;
          line-height: 9px;
        }

        p:nth-of-type(2) {
          font-weight: 500;
          font-size: 9.72642px;
          line-height: 160%;
        }
      }
    }
  }

  .section4 {
    min-height: auto;

    .music_move {
      display: none;
    }

    .music_move_mobile {
      display: block;
      position: static;
    }

    h2 {
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 44px;
      color: #171E17;
    }

    p {
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #101010;
      opacity: 0.8;
    }
  }

  .section5 {
    padding: 30px 0;
    margin: 15px 0;

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 20px;

      br {
        display: none;
      }
    }

    p {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 17px;
    }

    .col-sm-4 {
      padding: 0 15px 15px;
    }

    .col-sm-4 .card .card-img-overlay .text_title {
      .card-title {
        font-weight: 500;
        font-size: 20.0716px;
        line-height: 24px;
      }

      p {
        font-size: 15.0537px;
        line-height: 160%;
      }
    }
  }

  .section6 {
    padding-top: 56px;

    .owl-carousel .owl-stage {
      margin-left: inherit;
    }

    .card {
      display: block;
      flex-direction: inherit;
    }

    .gry_text {
      display: block;
      width: 85px;
      margin: 0 auto 21px;
    }

    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      margin-bottom: 0;
    }

    .card-img-overlay .text_section {
      left: 15px;
      right: 15px;

      .card-title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 8px;
      }

      .card-text {
        font-size: 14px;
        line-height: 160%;
        margin-bottom: 0;
      }

      .card-link {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  .section7 {
    padding: 35px 0;
    margin: 20px 0;

    h4 {
      font-size: 14px;
      line-height: 17px;
      margin: 0 0 30px;
    }

    .owl-item img {
      width: 110px;
      margin: 0 auto 28px !important;
    }
  }

  .section8 {
    padding: 13px 20px 30px;

    h2 {
      font-size: 24px;
      line-height: 29px;
    }

    .card .card-body {
      padding: 24px 16px;

      .card-title {
        font-weight: 500;
        font-size: 14.9495px;
        line-height: 18px;
        margin-bottom: 3px;
        display: block;
      }

      .text-muted {
        font-size: 11.2121px;
        line-height: 13px;
      }

      .card-text {
        font-size: 13.0808px;
        line-height: 161.5%;
      }

      h5 {
        font-size: 14.9495px;
        line-height: 18px;
        margin-bottom: 0;
      }

      .card-link {
        font-size: 13.0808px;
        line-height: 16px;
      }
    }

    .desktop_none {
      a {
        margin: 36px auto;
        display: block;
        position: relative;
      }
    }
  }

  .section9 {
    padding: 36px 0;

    .container {
      padding: 0 20px;
    }

    h2 {
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      margin-bottom: 9px;
    }

    p {
      font-size: 14px;
      line-height: 160.5%;
      text-align: center;
    }

    .form-outline {
      .trailing {
        top: 27px;
      }

      input {
        padding: 11px 100px 69px 50px;
        height: 108px;
        font-size: 14px;
        line-height: 160.5%;
      }

      button {
        right: 6px;
        top: 58px;
        left: 6px;
        display: block;
        width: calc(100% - 12px);
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  .section10 {
    padding: 47px 0 29px;

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    &#contact_us {
      padding-bottom: 0;
    }

    &.contact_us {
      padding: 41px 0 0;

      .row {
        box-shadow: none;
      }

      .text_sec {
        padding: 27px 35px;

        p {
          margin-bottom: 39px;
        }
      }

      .back_sec_div {
        padding: 16px;

        .background_sec {
          padding: 28px 23px;

          h4 {
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
          }

          p {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 40px;
          }

          ul li {
            width: 100%;

            p {
              margin-bottom: 0;
            }

            &:last-child {
              margin-bottom: 22px;
            }
          }

          .social_icon {
            margin-top: 11px;
            text-align: center;
          }
        }
      }
    }

    .btn-dark {
      margin-top: 9px;
    }

    .gry_text {
      font-size: 12px;
      line-height: 14px;
    }

    h2 {
      font-size: 36px;
      line-height: 44px;
      padding-bottom: 26px;
    }

    .form-group {
      label {
        font-size: 12px;
        line-height: 14px;
      }

      input,
      select {
        height: 32px;
        border: 1px solid #C7CFD5;
        font-size: 13px;
      }

      select {
        max-width: 221px;
      }

      .arrow_down {
        position: absolute;
        left: 197px;
        top: 37px;
        width: 16px;
        height: 9px;
        background: url("../img/home/arrow_select.png") no-repeat center;
        z-index: -1;
      }
    }

    .btn-dark {
      font-size: 14px;
      line-height: 17px;
      width: 100%;
      margin-top: 20px;
    }

    .btn-group .dropdown-menu {
      &.fade-in,
      &.fade-out {
        height: 0!important;
        overflow: hidden;
        -webkit-transition: height 0.35s ease!important;
        transition: height 0.35s ease!important;
        display: inherit!important;
      }

      &:before {
        display: none;
      }
      position: static !important;
      transform: translate(0px, 0px) !important;
      border: none;
      box-sizing: border-box;
      box-shadow: none;
    }
  }

  .section11 {
    padding: 30px 0 5px;

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    h4 {
      margin-bottom: 24px;

      &:after {
        display: none;
      }

      span {
        font-size: 14px;
        line-height: 17px;
      }
    }

    .card {
      margin-bottom: 20px;

      .card-img-overlay .card-title {
        font-size: 20px;
        line-height: 24px;

        img {
          width: 18px;
        }
      }
    }
  }

  .section12 {
    padding-top: 59px;
    max-height: 370px;

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    a {
      font-size: 11.7474px;
      line-height: 14px;
      width: 150px;
      padding: 11px;
    }

    h2 {
      font-size: 32px;
      line-height: 39px;
      margin-bottom: 15px;

      br {
        display: none;
      }
    }

    p {
      font-size: 14px;
      line-height: 160%;

      br {
        display: none;
      }
    }
  }

  .section13 {
    padding: 30px 15px;

    .col-sm-6 {
      padding-left: 20px;
      padding-right: 20px;
    }

    img {
      margin-top: 0;
      max-width: 100%;
    }

    .videowatch {
      width: 160px;
      margin: 12px auto 22px;
    }

    h2 {
      font-size: 36px;
      line-height: 44px;
      width: 100%;
      margin-bottom: 26px;
    }

    p {
      font-size: 14px;
      line-height: 180%;
      margin-bottom: 25px;
    }

    ul {
      margin-bottom: 0;

      li {
        font-size: 14px;
        line-height: 180%;
        width: inherit;
        float: inherit;
        margin-bottom: 21px;
      }
    }
  }

  .section14 {
    padding: 0;

    .background_dot {
      position: absolute;
      width: 105px;
      height: 105px;
      background: url("../img/corporate/dot_yellow.png") no-repeat center center;
      top: 127px;
      left: inherit;
      right: 0;
    }

    .youtube_sec {
      margin: 15px 15px 30px;
      width: auto;
      height: 183px;
      background-size: cover;
      border-radius: 7.75424px;

      .youtube_play {
        border-radius: 7.75424px;

        img {
          width: 34.97px;
          height: 34.97px;
        }
      }
    }

    .youtube_text {
      position: unset;
      width: calc(100% - 30px);
      float: inherit;
      display: block;
      padding: 30px 30px 16px;
      margin: 15px;
      border-radius: 17px;

      h2 {
        font-size: 14px;
        line-height: 21px;

        &:after {
          content: '';
          background: url("../img/corporate/comma.svg") no-repeat center center;
          top: -7px;
          left: -17px;
          background-size: 100%;
          width: 36.28px;
          height: 31.99px;
        }
      }

      p {
        font-size: 14px;
        line-height: 17px;
        margin: 3px 0 0;
      }
    }
  }

  .section15 {
    padding: 50px 20px 0;

    .owl-carousel .owl-nav button.owl-next {
      top: 224px;
      width: 30px;
      transform: none;
      left: calc(100% - 50px);
    }

    .owl-carousel .owl-nav button.owl-prev {
      left: 9px;
      top: 239px;
      width: 30px;
    }

    .videowatch {
      width: 154px;
    }

    h2 {
      font-size: 36px;
      line-height: 44px;
      margin: 0 20px 20px;
    }

    .item {
      .text_sec1,
      .text_sec2,
      .text_sec3,
      .text_sec4,
      .text_sec5 {
        position: relative;
        padding: 0 20px 0 38px;
        width: 100%;
        margin: 73px 0 39px;
        left: inherit;
        bottom: inherit;
        top: inherit;
        right: inherit;

        &:after {
          content: "";
          position: absolute;
          left: 20px;
          top: 0;
          height: 100%;
          width: 6px;
          background: #F9CE41;
        }

        h3 {
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
          margin-bottom: 18px;
        }

        p {
          font-weight: normal;
          font-size: 14px;
          line-height: 180%;
          margin-bottom: 10px;
        }
      }
    }
  }

  .section16 {
    padding: 15px 15px 0;

    .col-sm-6 {
      padding-left: 20px;
      padding-right: 20px;
    }

    h2 {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 20px;
    }

    p {
      font-size: 14px;
      line-height: 180%;
      margin-bottom: 24px;
    }

    .accordion-flush button {
      font-size: 18px;
      line-height: 22px;
      padding: 24px 19px;
      height: 80px;
      border-radius: 2.7563px !important;

      &:after {
        margin-top: -6px;
        margin-right: 2px;
      }

      &[aria-expanded="true"]:after {
        margin-top: -6px;
        margin-right: 0;
      }
    }

    .accordion-flush .accordion-item .accordion-body {
      padding: 20px;
      font-size: 14px;
      line-height: 180%;

      .cash_study {
        position: unset;
        display: block;
        font-size: 16px;
        line-height: 200.5%;
        width: 196px;
        margin: 40px auto 21px;
      }
    }
  }

  .section17 {
    height: 507px;
    padding-top: 192px;

    h4 {
      font-size: 16px;
      line-height: 19px;
    }

    h2 {
      font-size: 24px;
      line-height: 29px;
    }

    p {
      font-size: 14px;
      line-height: 180%;
      width: inherit;
    }
  }

  .section17_2 {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    h2 {
      font-weight: 500;
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 30px;
    }
  }

  .section18 {
    padding: 40px 0;

    &:after,
    &:before {
      display: none;
    }

    .text_sec {
      padding: 15px 0;

      .card-title {
        display: inline;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
      }

      .card-text {
        margin-top: 15px;
        font-weight: normal;
        font-size: 14px;
        line-height: 180%;
        margin-bottom: 18px;
      }
    }

    .user_setail {
      .user_img {
        width: 40px;
      }

      .user_detail_text {
        h4 {
          font-size: 14px;
          line-height: 140%;
          margin-bottom: 0;
        }

        h5 {
          font-size: 12px;
          line-height: 19px;
        }
      }

      .user_date {
        float: right;

        p {
          font-weight: normal;
          font-size: 14px;
          line-height: 180%;
          text-align: right;
          margin-top: 14px;
        }
      }
    }

    .container {
      padding: 0 20px;
    }

    h2 {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 9px;
    }

    p {
      font-size: 14px;
      line-height: 180%;
      margin-bottom: 26px;
    }

    .card {
      margin-bottom: 10px;
      margin-top: 5px;

      .card-img-overlay {
        padding: 17px;
      }

      .card-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 12px;
        display: inline-block;
      }

      .card-text {
        font-size: 14px;
        line-height: 180%;
        margin-bottom: 27px;
      }
    }
  }

  .section19 {
    padding: 34px 0;

    .container {
      padding: 0 20px;
    }

    h2 {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 12px;
    }

    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 180%;
      margin-bottom: 11px;
    }

    .card {
      margin-bottom: 20px;

      .card-title {
        font-weight: bold;
        font-size: 18.0147px;
        line-height: 22px;
      }

      .card-text {
        font-size: 12.0098px;
        line-height: 160%;
      }
    }
  }

  .section20 {
    height: 386px;
    padding-top: 105px;

    h2 {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 20px;

      br {
        display: none;
      }
    }
  }

  .section21 {
    padding: 36px 15px;

    .social_sec {
      display: none;
    }

    .main_sec {
      .social_sec {
        display: block;
        position: inherit;

        ul {
          margin-top: 94px;
          text-align: center;

          li {
            display: inline-block;
            margin: 7px 4px;
          }

          li:first-child {
            display: block;
            font-size: 16px;
          }
        }
      }
    }

    p {
      font-size: 14px;
      line-height: 180%;
    }

    .banner2 {
      margin-bottom: 32px;
    }

    h4 {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
    }

    .yellow_back {
      padding: 30px 25px;
      margin: 40px 0;
      border-radius: 7px;

      h3 {
        font-weight: 500;
        font-size: 24px;
        line-height: 160.52%;

        br {
          display: none;
        }
      }
    }

    .user_setail.border_top {
      padding-top: 26px;
      margin-bottom: 21px;
      margin-top: 24px;
    }
  }

  .section22 {
    padding: 12px 0;

    .container {
      padding: 0 15px;
    }

    .card {
      .card-title {
        font-weight: bold;
        font-size: 19.9899px;
        line-height: 24px;
      }

      .card-text {
        font-weight: normal;
        font-size: 13.3266px;
        line-height: 160%;
      }
    }
  }

  .section26 {
    padding: 37px 0;

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    &:after {
      content: '';
      bottom: -59px;
    }

    h2 {
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 44px;

      br {
        display: none;
      }
    }

    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 180%;
    }

    .btn-dark {
      width: 185px;
      margin: 0 auto 20px;
      display: block;
    }

    .btn-ligh {
      width: 211px;
      margin: 0 auto 57px;
      display: block;
    }
  }

  .section27 {
    padding-top: 79px;
    padding-bottom: 137px;

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 48px;
      right: 0;
    }

    .row.desktop_none {
      display: flex;
    }

    .row {
      flex-direction: column-reverse;

      .col-sm-6 {
        flex-direction: column-reverse;
      }
    }

    .social_sec {
      margin-bottom: 50px;
    }
  }

  .section28 {
    padding: 0 20px;

    h2 {
      margin-bottom: 25px;
      font-weight: bold;
      font-size: 24px;
      line-height: 19px;
    }

    p {
      font-weight: normal;
      font-size: 16px;
      line-height: 200.5%;
      margin-bottom: 35px;
    }

    .work_detail {
      margin-bottom: 50px;

      .icon {
        width: 80px;
      }

      h4 {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;

        br {
          display: none;
        }
      }
    }
  }

  .section29 {
    padding: 45px 0 18px;

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    .owl-theme .owl-nav.disabled+.owl-dots {
      text-align: center;
    }

    h2 {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      margin-bottom: 40px;
    }

    .item {
      flex-direction: column-reverse;
      display: flex;

      .left_detail,
      .right_detail {
        flex-direction: column-reverse;
        width: 100%;
        display: flex;
        padding: 0;

        img {
          width: 150.42px;
          margin: 0 auto;
          height: 150.42px;
        }
      }

      .left_detail {
        p {
          font-weight: normal;
          font-size: 16px;
          line-height: 180%;
          /* or 29px */
          text-align: center;
        }
      }

      .right_detail {
        &:after {
          content: '';
          position: absolute;
          bottom: inherit;
          left: 21%;
          width: 71.72px;
          height: 71.72px;
          background-size: 100%;
          top: 80px;
        }

        .user_detail {
          margin: 17px 0;

          h4 {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 180%;
            text-align: center;
            margin-bottom: 0;
          }

          p {
            font-weight: normal;
            font-size: 14px;
            line-height: 180%;
            text-align: center;
          }
        }
      }
    }
  }

  .section30 {
    padding: 43px 15px;

    .background_img {
      padding: 20px;
      border-radius: 13px;

      h2 {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
      }

      ul {
        li {
          display: block;
          width: 100%;
          float: inherit;
          min-height: auto;
          margin-bottom: 38px;
          text-align: center;
          border-right: none;
        }
      }
    }
  }

  .section31 {
    padding-left: 20px;
    padding-right: 20px;

    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
    }

    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 180%;
      text-align: center;
    }

    .desktop_none {
      margin: 35px 0 0;
    }

    .text_field {
      padding-bottom: 0;
      padding-top: 46px;
    }
  }

  .section32 {
    h2 {
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      margin-bottom: 15px;
    }

    .owl-carousel .owl-nav button.owl-next {
      right: 25px;
      transform: inherit;
      left: inherit;
      bottom: 0;
      top: inherit;
    }

    .owl-carousel .owl-nav button.owl-prev {
      left: 29px;
      transform: inherit;
      top: inherit;
      bottom: 0;
    }
  }

  .section33 {
    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -34px;
      background: url("../img/leadership/yellow_dot_box.svg") no-repeat center;
      height: 106px;
      width: 106px;
      z-index: 1;
      background-size: 100%;
    }

    &:before {
      content: '';
      position: absolute;
      left: -260px;
    }

    .container .col-sm-5:after {
      content: '';
      position: absolute;
      left: 20%;
      top: 37px;
      background: url("../img/leadership/yellow_dot.svg") no-repeat center;
      height: 60px;
      width: 60px;
      z-index: 1;
    }

    img {
      padding-left: 0;
    }

    .col-sm-7.desktop_none {
      padding: 0;
    }

    .col-sm-5 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .row {
      flex-direction: column-reverse;

      .col-sm-5,
      .col-sm-7 {
        flex-direction: column-reverse;
      }
    }

    h2 {
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      margin-top: 62px;
      margin-bottom: 39px;
    }

    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 180%;
      text-align: center;

      &:after {
        display: none;
      }
    }
  }

  .section33_2 {
    h3 {
      font-size: 24px;
      line-height: 29px;
      /* identical to box height */
      text-align: center;
      padding: 81px 0 47px;
    }
  }

  .section34 {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      background: url("../img/leadership/yellow_circle.svg") no-repeat center;
      height: 137px;
      width: 106px;
      background-size: 100%;
    }

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    .row:nth-child(even) {
      flex-direction: column-reverse;

      .col-sm-6 {
        flex-direction: column-reverse;
      }
    }

    .row {
      padding-bottom: 74px;

      img {
        width: 253.02px;
        margin: 0 auto;
        float: inherit;
        margin-bottom: 29px;
      }
    }

    .row:nth-child(even) img,
    .row:nth-child(odd) img {
      float: inherit;
    }

    h3 {
      font-size: 24px;
      line-height: 29px;
      text-align: center;
    }

    h4 {
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
    }

    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 180%;
      text-align: center;
    }

    a {
      width: 125px;
      margin: 0 auto;
      display: block;
    }
  }

  .section35 {
    margin-bottom: 36px;

    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .owl-carousel .owl-item img {
      border-radius: 10px;
    }

    .owl-thumbs {
      display: none;
      padding: 5px 15px 0;

      .owl-thumb-item {
        width: calc(100%/5);
        padding: 0;

        img {
          width: 100%;
          height: auto;
          border-radius: 5px;
          padding: 0 2px;
        }
      }
    }
  }

  .section36 {
    padding: 75px 0 0;

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    h3 {
      font-weight: 500;
      font-size: 20px;
      line-height: 32px;
    }

    img {
      position: relative;
      z-index: 9;
    }

    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 180%;
      margin-top: 37px;
      margin-bottom: 53px;
    }

    a {
      width: 158px;
      margin: 0 auto;
    }
  }

  .section37 {
    padding: 75px 0;

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    h2 {
      font-size: 24px;
      line-height: 29px;
    }

    .row {
      padding-bottom: 19px;
    }

    .row:nth-of-type(2),
    .row:nth-of-type(4) {
      flex-direction: column-reverse;
    }

    .row:nth-of-type(2),
    .row:nth-of-type(3),
    .row:nth-of-type(4) {
      margin-bottom: 78px;

      .banner_img {
        width: 100%;
        margin: 0;
      }

      .text_sec {
        padding: 0;

        h4 {
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          text-align: center;
        }

        h3 {
          font-weight: bold;
          font-size: 24px;
          line-height: 29px;
          text-align: center;
          margin-bottom: 15px;
        }

        p {
          font-weight: normal;
          font-size: 14px;
          line-height: 180%;
        }

        a {
          width: 164px;
          display: block;
          margin: 27px auto 0;
        }
      }
    }

    .row:nth-of-type(4) {
      margin-bottom: 0;
      padding-bottom: 0;

      .banner_img {
        margin-top: -81px;
      }
    }
  }

  .section38 {
    padding: 34px 0;

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    h4 {
      font-size: 16px;
      line-height: 19px;
      text-align: center;
    }

    h2 {
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 19px;
      text-align: center;
    }

    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 180%;
    }
  }

  .section39,
  .section39_2,
  .section39_3 {
    height: 152px;
  }

  .section40 {
    padding: 57px 20px 4px;

    .left_img {
      width: 100%;
      height: auto;
      float: inherit;
    }

    h4 {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 33px;

      br {
        display: none;
      }
    }
  }

  .section40_2 {
    .container {
      padding: 0 20px;

      a {
        width: 165px;
        height: 50px;
        display: block;
        margin: 20px auto 0;

        img {
          width: 100%;
        }
      }
    }
  }

  .section41 {
    .paddown {
      padding-bottom: 281px;
    }

    .nav-pills {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 99;
      height: 204px;

      .others {
        top: inherit;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0 auto;
        left: 0;
        background: #fff;

        h2 {
          margin: 0 0 24px;
        }
      }
    }

    .social_sec.desktop_none {
      position: inherit;
      display: block;

      ul {
        margin-top: 21px;
        text-align: center;

        li {
          display: inline-block;
          margin: 7px 4px;
        }

        li:first-child {
          display: block;
          font-size: 16px;
        }
      }
    }

    .container {
      padding: 0 15px;
    }

    h2 {
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      margin: 70px 0 60px;
    }

    .content_center {
      .brand_logo {
        img {
          margin: 0 auto;
          height: 42px;
        }

        h3 {
          font-weight: bold;
          font-size: 24px;
          line-height: 29px;
          text-align: center;
        }

        h4 {
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          margin-bottom: 35px;
        }
      }

      .content {
        iframe {
          height: 249px;
        }

        h4 {
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          margin-bottom: 10px;
        }

        p {
          font-weight: normal;
          font-size: 14px;
          line-height: 180%;
          margin-bottom: 37px;
        }
      }
    }
  }

  .section42 {
    margin: 36px 0;
    padding: 20px 0 46px;

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    .owl-theme .owl-nav.disabled+.owl-dots {
      bottom: -31px;
    }

    h2 {
      font-weight: bold;
      font-size: 36px;
      margin: 15px 0 32px;
      line-height: 43px;
    }

    .content_sec {
      padding: 22px 19px;

      p {
        font-weight: normal;
        font-size: 16px;
        line-height: 174.5%;
      }
    }

    h4 {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }

    h5 {
      font-weight: normal;
      font-size: 14px;
      line-height: 200.5%;
    }
  }

  .section43 {
    padding-bottom: 0;

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    ul {
      padding: 37px 0 0;
    }

    ul li {
      &:last-child a {
        padding-right: 0;
      }

      &:after,
      &:before {
        display: none;
      }

      a {
        font-size: 14px;
        line-height: 21px;
        padding: 0;
      }
    }
  }

  .section44 {
    padding-top: 0;

    img {
      position: relative;
      z-index: 1;
    }

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 140.52%;
      margin-top: 45px;
      width: auto;
    }

    p {
      font-size: 14px;
      line-height: 180%;
      text-align: center;
    }

    a {
      width: 234px;
      margin: 0 auto;
      display: block;
      margin-bottom: 39px;
    }
  }

  .section46 {
    padding: 53px 0 20px;

    &:after {
      content: '';
      position: absolute;
      left: -84px;
      bottom: 34px;
      background: url("../img/careers/blue_circle.svg") no-repeat center;
      width: 133px;
      height: 150px;
      background-size: 100%;
    }

    .container {
      padding: 0 15px;
    }

    h2 {
      font-size: 24px;
      line-height: 34px;
      text-align: center;
    }

    h3 {
      text-align: center;
    }

    h4 {
      font-weight: normal;
      font-size: 14px;
      line-height: 180%;
      text-align: center;
    }

    img {
      width: 64px;
      height: 64px;
      margin: 0 auto;
    }
  }

  .section47 {
    padding: 0 20px;

    .form-group {
      width: 100%;
    }

    .form-control:focus {
      background-color: transparent;
    }

    h2 {
      font-size: 24px;
      line-height: 29px;
      text-align: center;
    }

    .col-sm-4 {
      a,
      p {
        text-align: center;
        display: block;
      }
    }

    .col-sm-8 {
      padding: 27px 15px;

      select {
        width: 100%;
        margin-bottom: 26px;
      }

      button {
        width: 161px;
        margin: 0 auto;
        display: block;
      }

      h5 {
        text-align: center;
        margin: 53px 0;
      }
    }
  }

  .section48 {
    padding: 20px 0 40px;
    margin: 15px 20px;

    .container {
      height: 158px;

      h4 {
        font-weight: bold;
        font-size: 36px;
        left: 23px;
        bottom: -9px;
      }
    }
  }

  .section49 {
    padding-bottom: 44px;

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    .col-12:before {
      content: '';
      right: 0;
    }

    h2 {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
    }

    .main_div {
      .left_img {
        width: 100%;
      }

      .right_text {
        width: 100%;

        img {
          width: 49px;
          padding-bottom: 8px;
          display: inline-block;
        }

        h3 {
          font-weight: normal;
          font-size: 14px;
          line-height: 180%;
        }

        p,
        span {
          float: right;
          padding-top: 13px;
          font-family: Fira Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 200.5%;
          color: #5F6A81;
        }
      }
    }

    .card .card-body {
      .card-title {
        img {
          height: 28px;
        }

        span {
          font-weight: normal;
          font-size: 12px;
          line-height: 200.5%;
        }
      }

      p {
        font-weight: normal;
        font-size: 14px;
        line-height: 180%;
      }
    }
  }

  .section50 {
    padding: 40px 0;

    .container {
      padding: 0 20px;

      .row {
        padding: 0 15px;
      }

      h2 {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
      }

      .col-12 {
        .img_sec {
          display: block;
          margin: 0 auto;
          padding: 20px 0;
          float: inherit;
          width: 180px;
        }

        .content_sec {
          width: 100%;
          float: inherit;
          display: block;

          p {
            font-weight: normal;
            font-size: 12px;
            line-height: 180%;
          }

          h3 {
            font-weight: 500;
            font-size: 14px;
            line-height: 160%;
          }
        }

        .arrow_sec {
          display: none;
        }
      }
    }
  }

  .section51 {
    padding: 30px 0;

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    .number {
      width: 235.16px;
      margin: 0 auto 15px;
    }

    .banner {
      width: 100%;
      margin: 12px auto 0;
    }

    h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 40px;

      br {
        display: none;
      }
    }

    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 180%;

      br {
        display: none;
      }
    }
  }

  .section52 {
    padding: 16px 15px 27px;

    .video_sec,
    .video_sec_large {

      &:before {
        content: '';
        top: 28px;
        left: 0;
        right: 0;
        width: 60px;
        height: 66px;
        z-index: 9;
        opacity: 1;
        transition: 0.777s all ease;
        background-size: 100%;
      }

      .text_sec {
        position: absolute;
        left: 10px;
        bottom: 14px;
        right: 10px;
        z-index: 9;
        height: auto!important;
        overflow: hidden;
        transition: height 1s;
        z-index: 9;
        img {
      width: 29px;
      margin-bottom: 5px;
  }
      }

      h4 {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
      }

      h5 {
        display: none;
      }
    }

    .video_sec_large {
      width: 100%;
      height: 203px;
      margin: 0 0 10px;
      float: inherit;
      display: block;
    }

    .video_sec {
      &.three,
      &.two {
        width: calc(100%/2 - 5px);
        height: 178px;
        margin: 0 10px 10px 0;
      }

      &.four,
      &.one {
        width: calc(100%/2 - 5px);
        height: 178px;
        margin: 0 0 10px;
      }
    }
  }

  .section53 {
    height: 448px;

    h2 {
      font-weight: 500;
      font-size: 36px;
      line-height: 44px;
      padding-top: 64px;

      br {
        display: none;
      }
    }

    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 180%;
      margin: 20px 0 50px;
    }

    .btn_click {
      text-align: center;

      .btn-warning {
        font-style: normal;
        font-weight: 500;
        font-size: 14.1151px;
        line-height: 17px;
        padding: 10px 12px;
      }

      .btn-trans {
        font-style: normal;
        font-weight: 500;
        font-size: 14.1151px;
        line-height: 17px;
        padding: 9px 12px;
      }
    }
  }

  .section54 {
    padding: 37px 0 10px;

    h2 {
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      max-width: 271px;
      margin: 0 auto 29px;
    }

    .step_counter {
      padding: 45px 25px;

      .item {
        width: 100%;
        height: auto;
        position: relative;
        padding-right: 8px;
        padding-bottom: 8px;
      }
    }

    .invert {
      flex-direction: column-reverse;

      .col-sm-6 {
        flex-direction: column-reverse;
      }
    }

    .slider_step {
      margin: 0;
      max-width: 100%;
      padding: 0;

      li {
        padding-bottom: 31px;

        .number {
          font-family: Fira Sans;
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          color: #FFFFFF;
          width: 41.67px;
          height: 41.67px;
          background: #000000;
          box-shadow: 0 8.33333px 16.6667px #00000040;
          border-radius: 50%;
          text-align: center;
          line-height: 41px;
          border: 0.833333px solid #D5D5D5;
          margin: 0 auto 19px;
        }

        h3 {
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          text-align: center;
        }

        h4 {
          font-weight: normal;
          font-size: 14px;
          line-height: 180%;
          text-align: center;
        }
      }
    }
  }

  .section55 {
    padding-bottom: 66px;

    .desktop_none {
      margin-top: 15px;
    }

    h2 {
      font-weight: bold;
      font-size: 24px;
      line-height: 38px;
      text-align: center;
      max-width: 300px;
      margin: 0 auto;
    }

    ul {
      padding: 38px 0 14px;
      overflow-x: auto;
      white-space: nowrap;

      li {
        font-style: normal;
        font-weight: 500;
        font-size: 12.5217px;
        line-height: 15px;
        padding: 6px 19px;
      }
    }
  }

  .section56 {
    padding-top: 54px;
    padding-bottom: 40px;

    .owl-theme .owl-nav {
      position: relative;
      right: 0;
      top: inherit;
      bottom: -8px;
      max-width: 36px;
      margin: 0 auto;
      text-align: center;
      left: -23px;

      button.owl-prev {
        left: 0;
        transform: inherit;
      }

      button.owl-next {
        transform: inherit;
        right: 0;
      }
    }

    .container {
      padding: 0 15px;
    }

    h2 {
      font-weight: bold;
      font-size: 24px;
      line-height: 38px;
      text-align: center;

      &:after {
        content: '';
        width: 80px;
        height: 80px;
        background-size: 100%;
        margin: 0 auto;
        top: -53px;
        left: 0;
        right: 0;
      }
    }

    p {
      font-weight: normal;
      font-size: 18px;
      line-height: 160.5%;
      text-align: center;
    }

    h3 {
      font-weight: 500;
      font-size: 16px;
      line-height: 160.5%;
      text-align: center;
    }

    h4 {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
    }

    .esongstruck {
      padding-bottom: 67px;
    }
  }

  .section57 {
    padding-bottom: 24px;

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    .image_sec:after {
      display: none;
    }

    h2 {
      padding: 0;
      font-weight: bold;
      font-size: 24px;
      line-height: 38px;
      text-align: center;
    }

    .form_sec {
      margin: 0;
      box-shadow: none;

      h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        padding-left: 0;
      }

      p {
        font-weight: normal;
        font-size: 14px;
        line-height: 180%;
        padding-left: 0;
      }

      .form_devid {
        padding-left: 0;

        .form-group {
          width: 100%;

          label {
            font-weight: 500;
            font-size: 14px;
            line-height: 200.5%;
          }

          input {
            height: 33px;
            width: 100%;
          }
        }

        p {
          margin-bottom: 14px;
        }

        button {
          width: 100%;
        }
      }
    }
  }

  .section58 {
    padding: 0 0 15px;

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }

    h3 {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      margin: 48px 0 33px;
      text-align: center;
    }

    .left_sec,
    .right_sec {
      display: block;
      float: inherit;
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }

    .accordion-button {
      font-weight: 500;
      font-size: 16px;
      line-height: 180%;
      padding: 11px 0;
    }

    .accordion-body {
      font-weight: 500;
      font-size: 16px;
      line-height: 180%;
      padding: 17px 15px;
    }
  }

  #login {
    margin: 8px;

    .mfp-close {
      color: #7A7A7A;
      font-size: 38px;
    }

    .modal_popup {
      border-radius: 10px;

      .image_sec {
        display: none;
      }

      .content_sec {
        width: 100%;
        height: auto;
        padding: 22px;
      }
    }
  }

  .corp {
    margin: 8px;

    .mfp-close {
      color: #7A7A7A;
      font-size: 38px;
    }

    .modal_popup {
      border-radius: 10px;

      iframe {
        height: 265px;
        border-radius: 10px;
      }
    }
  }

  .illi {
    margin: 8px;

    .mfp-close {
      color: #7A7A7A;
      font-size: 38px;
    }

    .modal_popup {
      border-radius: 10px;

      video {
        height: 242px;
        border-radius: 10px;
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .section3 p br,
  .section31 p br,
  .section44 h2 br {
    display: none;
  }

  .section44 h2 {
    font-size: 22px;
  }

  .section1 h2 {
    font-size: 28px;
  }

  .section47 h2 {
    font-size: 21px;
    line-height: 22px;
  }

  .section5 .col-sm-4 .card .card-img-overlay .text_title {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 23px;
    min-height: auto;
  }

  .section51 h3 {
    font-size: 22px;
    line-height: 29px;
  }

  .section10.contact_us .back_sec_div .background_sec {
    h5 {
      margin-bottom: 49px;
    }

    ul li {
      margin-bottom: 32px;

      p {
        font-size: 15px;
      }

      a {
        font-size: 14px;
      }
    }
  }

  .section12 h2 {
    font-size: 25px;
    line-height: 36px;
  }

  .section15 h2 {
    font-size: 25px;
    line-height: 31px;
    margin: 0 0 20px;
  }

  .section15 .owl-carousel .owl-nav button.owl-next {
    top: 193px;
    width: 30px;
    transform: none;
    left: calc(100% - 50px);
  }

  .section15 .owl-carousel .owl-nav button.owl-prev {
    left: 9px;
    top: 209px;
    width: 30px;
  }

  .section13 h2 {
    font-size: 29px;
    line-height: 38px;
  }

  .section16 h2 {
    font-size: 20px;
    line-height: 25px;
  }

  .section26 h2 {
    font-size: 31px;
    line-height: 41px;
  }

  .section40 h4 {
    font-size: 23px;
  }
}
